@charset "UTF-8";

/*----- General Setting ----- */
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
}

body {
	font-family:"Gulim", ChevinDemiBold, Arial, sans-serif;
}

.wrapper {
	background-color: #b3c2bf;
	color: #fff;
	display: flex;
	flex-direction: column;
}

h1, h2 {
	font-size: 3rem;
	font-weight: bold;
	font-family: Times New Roman, Times, Serif;
}

button {
	background-color: #e9ece5;
	color: #3b3a36;
	padding: 1rem;
	font-size: 1rem;
	margin-top: 1rem;
	display: inline-block;
}

button a {
	text-decoration: none;
	color: #3b3a36;
}

.fa-sort-down{
	margin-left: 1rem;
}

	/*Hover Test*/


/*----- Navigation -----*/
.main-nav {
	position: fixed;
	width: 100%;
	z-index: 99;
	box-shadow: 0 8px 5px -10px gray;
	background: #3b3a36;
}

.logo {
    position: fixed;
	top: 0;
	left:0;
	margin: 0.5rem;
	font-weight: bold;
}

.logo img {
	width: 50px;
	margin-left: 1rem;
}

.logo p {
	display: none;
}

.menu-icon {
	width: 100%;
	background: #3b3a36;
	text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
	z-index: 100;
}

.menu-item-has-children, .menu-item-has-children2, .menu-item-has-children3 {
    transition: .5s;
}

.showing {
	max-height: 50rem!important;
}


/*----- Profile Page -----*/	
#profile {
    margin: 3rem auto 0 auto;
    width: 100%;
    height: calc(100vh - 3rem); 
    padding: 5rem 0;
    background-color: #e9ece5;
}

.grid-profile {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.cell-profile {
    padding: 0;
    position: relative;
}

.profile-image {
    display: block;
    width: 100%;
}

.profile-title h1 {
    font-weight: 800;
    color: #3b3a36;
    font-style: italic;
	font-variant: small-caps;	
}

.profile-title h1 span#role {
	font-family: Times New Roman, Times, Serif;
    font-size: .8rem;
    font-weight: 500;
	font-variant: normal;
    letter-spacing: 0.2rem;   
}

/*----- About Page -----*/	
#about-page {
	width:100%;
	height: auto;
	text-align: left;
	display: flex;
	align-content: center;
	padding: 5rem 2.5rem 5rem 2.5rem;
}
	
#about-page h2 {
	display:none;
}

#about-page p {
	font-size: 1rem;
	font-weight: bold;
	line-height: 1.5rem;
}

/*----- Portfolio Page -----*/
#portfolio-page {
    margin: 0 auto;
    max-width: 100%;
    padding: 3rem 1rem;
    background-color: #e9ece5;
}

#portfolio-page h2 {
	color: #3b3a36;
	text-align: center;
	font-style: italic;
	font-size: 2.5rem;
	padding: 2rem;
}

.responsive-image {
    max-width: 100%;
}

.cell {
   margin: 1rem;
   position: relative;
}

.cell img {
	display: block;
	border: 5px solid #989C94;
	border-radius: 15px;
}

/*--- portfolio overlay ---*/
.cell .portfolio-overlay {
	background: rgba(0,0,0,0.7);
	border-radius: 15px;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
	
.cell:hover .portfolio-overlay {
	opacity: 1;
}
	
.cell .portfolio-details {
	position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    /*top: 50%;*/
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
	
.fadeIn-bottom {
    top: 90%;
}
	
.cell:hover .portfolio-details {
	top: 50%;
    left: 50%;
    opacity: 1;
}
		
.portfolio-details h3 {
	color: #fff;
	font-weight: bold;
	letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}
	
.portfolio-details .detail-text {
	color: #fff;
}

/*----- Contact Page -----*/
#contact-page {
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	padding: 3rem 1rem;
}

#contact-page h2 {
	font-size: 2rem;
	font-style: italic;
}

label {
	display: block;
	padding: 1.5rem 0 0.2rem 0;
	text-align: left;
	letter-spacing: 0.1rem;
}
	
form {
	width: 100%;
	padding-left: 1rem;
}

input:focus, textarea:focus, select:focus {
outline-offset: 0px !important;
outline: none !important;
}

input, textarea {
	width: 95%;
	height: 2rem;
	background:#efefef;
    border:1px solid #dedede;
	padding: 0.5rem;
	font-size: 0.9rem;
	color: #3a3a3a;
}
	
textarea {
	height: 5rem;
}
	
.contact-form input, .contact-form textarea {
	-webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
}
	
.contact-form input:focus, .contact-form textarea:focus {
	border:1px solid #b3c2bf !important;
	box-shadow: 0 0 9px rgba(255, 80, 80, 0.8) !important;
}
	
#submit {
	margin: 2rem 0 2rem 0;
	width: 35%;
    cursor: pointer;
}
	
#submit:hover, #submit:focus {
	background-color: #e9ece5;
	color: #3b3a36;
	border: none;
}	

/*----- Footer -----*/
footer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		background-color: #3b3a36;
		padding: 1.25rem;
}

.fa-instagram:hover, .fa-linkedin-in:hover, .fa-envelope:hover {
    color: #b3c2bf;
}

.social-icon a {
	color: #fff;
	text-decoration: none;
}

/*Media 320px or below (mobile version - iPhone5/SE) 

@media screen and (max-width: 320px) {
	.profile-title h1 {
		font-size: 4rem !important;
	}
	.profile-title h1 span#role {
		font-size: .6rem;
	}
}
--------------------------------------------------------------------*/

/*Media 767px or below (mobile) 
--------------------------------------------------------------------*/
@media screen and (max-width: 767px) {	
	
	/*--- dropdown menu ---*/
	.main-nav {
		box-shadow: 0 1px 6px rgba(0,0,0,0.16), 0 1px 6px rgba(0,0,0,0.23);
	}
	.main-nav .menu {
		background: #3b3a36;
	    overflow-y: scroll;
	    max-height: 0px;
	    transition: 1s;
	    position: fixed; 
	    top: 3.9rem;
	    right:0;
	    bottom:0;
	    left:0;
	    width: 100%;
    }
	
    .main-nav .menu li {
	    display: inline-block;
	    width: 100%;
	    padding: 0;
    }
	
	.main-nav .menu li {
		box-shadow: 0 1px 3px rgba(0,0,0,0.16), 0 1px 3px rgba(0,0,0,0.23);
	}
	
    .main-nav ul.menu li a {
	    display: block;
	    text-decoration: none;
	    font-size: 1.5rem;	    
	    color: #fff;
		padding: 2rem;
		width:100%;
    }

	.main-nav ul.menu li a:hover{
	    background: #E3E7D3;
		color: #3a3a3a;
    }
	
	.sub-menu, .sub-menu2, .sub-menu3 {
		display: none;
	}	
	
	.sub-menu {
		background: #989C94;
	}

	.sub-menu li a{
		padding-left: 4rem!important;
		font-size: 1.25rem!important;
	}
		
	.sub-menu2, .sub-menu3 {
		background: #BDC2BF;
	}
	
	.sub-menu2 li a, .sub-menu3 li a{
		padding-left: 6rem!important;
		font-size: 1.2rem!important;
	}
	
	/*--- Profile ---*/
	.cell-profile {
		max-width: 50%;
	}
	.profile-title h1 {
	    position: absolute;
		text-align: center;
		left: 0;
		right: 0;
		margin: auto;
		font-size: 4rem;
    }

    .profile-title h1 span#role{
        position: relative;
        top: -3rem;
    }
	
	/*--- Portfolio Overlay ---*/
	.cell .portfolio-overlay {
		background: rgba(0,0,0,0.6);
        opacity: 1!important;
	}
	
	.cell .portfolio-details {
        top: 50%;
        left: 50%;
        opacity: 1!important;
	}
}

@media screen and (max-width: 460px) {
	.cell-profile {
		max-width: 85%;
	}
}

/*Media 768px up (tablet)
------------------------------------------------------------------*/
@media screen and (min-width: 768px) {
	.wrapper {
		display: flex;
		flex-direction: column;
	}
	
/*----- Navigation -----*/	
	.menu-icon {
	    display: none;
    }

	.main-nav {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-end;
		align-items: center;
		height: 4rem;		
	}
	
	ul.menu li {
		display: inline-block;
		list-style: none;
		font-size: 1rem;
		padding: 0rem;
	}
	
	/*--hover dropdown effect--*/
	#main-nav ul#menu li:hover >ul{
		display:block !important;
	}
	
	.main-nav ul.menu li a {
		text-decoration: none;
		color: #eee;
		display: block;
		padding: 1.5rem;
	}
	
	.main-nav ul.menu li a:hover {
	    background-color: #b3c2bf;
		color: #3a3a3a;
    }

    .main-nav ul.menu li a:active {
	    background-color: #b3c2bf;
    }
		
	.menu-item-has-children, .menu-item-has-children2, .menu-item-has-children3 {
		position: relative;
	}
	
	.sub-menu, .sub-menu2, .sub-menu3 {
		position: absolute;
		background: #3b3a36;
		z-index: 99;
		display: none;
	}
	
	.sub-menu {
		margin-top: -0.05rem;
	}
	
	.sub-menu2, .sub-menu3 {	
		width: 100%;
		background: #989C94;
	}
	
	.sub-menu2 {
		top: 0rem;
		right: 100%;
	}
	
	.sub-menu3 {
		top: 0rem;
		right: 100%;
	}
	
	.sub-menu li, .sub-menu2 li, .sub-menu3 li {
		display: inline-block;
		width: 100%;
		box-shadow: 0 1px 3px rgba(0,0,0,0.16), 0 1px 3px rgba(0,0,0,0.23);
	}
	
	.sub-menu li a, .sub-menu2 li a, .sub-menu3 li a {
		display: block;
		width: 100%;
	}

/*----- Profile Page -----*/	
    #profile {
	    margin: 4rem auto 0 auto;
	    padding: 6rem 0; 
		height: calc(75vh - 3rem);
    }

	.grid-profile {
        flex-direction: row;
		justify-content: center;
		margin-top: -2rem;
    }
	
    .cell-profile {
	    max-width: 35%;
		margin-right: -5rem;
    }
	
	.profile-title {
		position: relative;
		margin-left: -3rem;
		margin-top: -6rem;
	}
	
	.profile-title h1 {
		font-size: 6rem;	
	}
	
	.profile-title h1 span#last-name::before {
		content: "\A      ";
		white-space: pre;
	}
	
	.profile-title h1 span#role {
		position: absolute;
		right:0;
		font-size: 1rem;
		font-weight: 800;
		text-align: center;		
	}

	
/*----- About Page -----*/	
	#about-page {
		padding: 5em;
		text-align: justify;
	}

	#about-page p {
		font-size: 1.5rem;
		line-height: 1.75em;
		font-weight: bold;
		color: #eee;
	}
	
/*----- Portfolio Page -----*/	
    #portfolio-page {
	    margin: 0;
		
	}
	
    .grid {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
	    justify-content: space-between;
    }

	.grid:first-child {
		margin-top: 4rem;
	}
	
	.grid:last-child {
		margin-bottom: 4rem;
	}
	
   .cell {
        width: calc(33.3333% - 1.5rem);
	    margin: 0.75rem;
	    position: relative;
    }	

  .grid .cell-2 {
	    width: calc(50% - 1rem);
	}

/*----- Contact Page -----*/
	form {
		width: 50%;
		padding-left: 4rem;
	}
	
	input, textarea {
		width: 90%;
	}
	
	textarea {
		height: 10rem;
	}
}


/*Media 1025px up (PC) 
--------------------------------------------------*/
@media screen and (min-width: 1025px) {  
	
/*----- Portfolio Page -----*/
	#portfolio-page {
		margin: 0;
		padding: 4rem 10rem;
	} 
	
/*----- Profile Page -----*/	
	#profile {
		height: calc(100vh - 3rem);
	}
	
	.profile-title {
		position: relative;
		margin-left: -5rem;
		margin-top: -8rem;
	}
	
	.profile-title h1 {
		font-size: 8rem;	
	}
/*----- About Page -----*/
	#about-page {
		padding: 10em;
	}
	
/*----- Contact Page -----*/
	#contact-page {
		padding: 4rem;
	}
}

